@charset "UTF-8";

@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic);
*:focus {
  outline: 0 !important; }

a {
  outline: none !important; }
  a.text-muted:hover, a.text-muted:focus {
    color: #748690; }

hr {
  border-top: 1px solid #e4eaec; }

.fullHeight {
  height: 100%;
}

.b0 {
  border-width: 0 !important; }

.bl0 {
  border-left-width: 0 !important; }

.br0 {
  border-right-width: 0 !important; }

.bt0 {
  border-top-width: 0 !important; }

.bb0 {
  border-bottom-width: 0 !important; }

.br, .b, .ba {
  border-right: 1px solid rgba(0, 0, 0, 0.12); }

.bl, .b, .ba {
  border-left: 1px solid rgba(0, 0, 0, 0.12); }

.bt, .b, .ba {
  border-top: 1px solid rgba(0, 0, 0, 0.12); }

.bb, .b, .ba {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

/*
MOVE TO SRP.CSS AFTER
*/
.noPaddingOrMargin {
  padding: 0px;
  margin: 0px;
}

.content-height {
  min-height: -webkit-calc(100% - 110px);
}

.homepageLocationTileImage {
  width: 100%;
  height: 300px;
  margin-top: 30px;
}

/* UI REFACTOR CSS */
/* Mobile First CSS -> setup CSS for mobile and then use media queries to edit for larger devices */

.homepageGlassContainer {
  width: 100%;
  height: -webkit-calc(100% - 55px);
  position: absolute;
  z-index: 1;
  background-color: rgba(44, 62, 80, 0.4);
}

.homepageBackground {
  width: 100%;
  height: -webkit-calc(100% - 55px);
  padding-top: 0px;
  margin-top: 0px;
  position: absolute;
  z-index: 0;
  background: url(https://c.stocksy.com/a/Ej6000/z0/25868.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.crossThrough:after{
content: "";
position: absolute;
border-top: 3px solid #49A3DC;
width: 148px;
transform: rotate(45deg);
transform-origin: 70px 0%;
}

/* Footer links */

.footer-links{
  color:  #ffffff;
  margin: 10px 0 12px;
  padding: 0;
}

.footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-company-name{
  color:  #FFFFFF;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-company-about{
  line-height: 20px;
  color:  #FFFFFF;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}

.footer-icons{
  margin-top: 25px;
}

.footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 0px;
}

.footer-center i{
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

/* 
 * IMPORTANT -> override the styling for the react-bootstrap-typeahead library since it does not take in
 *  styling as a parameter for the input. Need to make the input (for auto complete options), input element
 *  (where user enters actual text), and the hint (that displays the closest auto complete match) all 50px
 *  so it aligns properly
 */
.bootstrap-typeahead-input {
  height: 50px;
}
/* On mobile we want the search bar on top in a input group, so get rid of left, top, and bottom border */
/*  right border is kept because it is divider against the search button */
.bootstrap-typeahead-input-main {
  height: 50px;
  border-color: #CCCCCC;
  border-top: none;
  border-left: none;
  border-bottom: none;
}
.bootstrap-typeahead-input-hint {
  height: 50px;
}

.button {
  background-color: #FFFFFF;
  color: #49A3DC;
  border-color: #CCCCCC;
}
/* On mobile the SRP is device height - what is needed for the top search and action bar */
.contentSRP {
  height: -webkit-calc(100% - 50px);
}
/* 
 * On mobile the map and listings are stacked on top of each other, give listings a little bit more space to fit all the
 *  info they need to display, most important reason for doing this was to make room for the 1-Tap Contact button on mobile
 */
.srpMapSection {
  height: 45%;
  padding-left: 15px;
}
.srpListingsSection {
  height: 55%;
  padding-right: 15px;
}
/* Labels for the filters on mobile */
.filtersLabelSize {
  height: 60px;
}
/* on all devices split the width of filter sort buttons equally */
.filterSortButtonWidthRS {
  width: 33.33%;
}
.filterSortButtonWidthPrice {
  width: 33.33%;
}
.filterSortButtonWidthSq {
  width: 33.33%;
}
/* classes relating to the SRP Tiles and all their inner parts */
.listingsDiv {
  /* On mobile the height is 100% of parent (which is 55% of the screen height from above) - 
   *  40 to account for the controls bar (# properties, filter & CP button)
   */ 
  height: -webkit-calc(100% - 40px);
  /* for mobile we scroll horizontally and use flex to align items in that direction */
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
}
/* 
 * panelContainer is the outermost part of a single tile, has set width on mobile and uses flex-shrink 
 *  so tiles do not squish to fit horizontally, they stretch out to into a scrollView
 */
.propertyTileContainer {
  /* full height and fixed width */
  height: 100%;
  width: 250px;
  /* padding so tiles have some spacing between other parts of the SRP */
  padding-top: 5px;
  padding-bottom: 5px;
  /* left margin only, this way all space between tiles is the same */
  margin-left: 15px;
  /* flex-shrink is what makes it so tiles are not squished to fit width of flex container, we want them to extend and container to scroll */
  flex-shrink: 0;
  /* use nested flex in column direction to make it so on mobiel the tiles are always in the center of the listingsDiv */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.propertyTile {
  /* for mobile propertyTile's are width of their container, defined above */
  width: 100%;
}
/* set image height on small mobile devices */
.srpTilePanelImageHeight {
  height: 100px;
  width: 100%;
  overflow: hidden;
}
/* For mobile phones limit height or tileRetailScore to 90px, this is used for button space if no CP given */
.tileRetailScore {
  height: 80px;
}
/* on mobile devices generally we have enough space to limit the RS reasoning text to 3 lines, use line-clamp to limit and cut off remaining text */
.lineClamp {
  /* text-align left to get as much on screen as possible in given space */
  text-align: left;
  /* overflow:hidden; is required for clamping to work properly */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  /* override text spacing to make it fit the tile consistently */
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 0;
  padding-bottom: 5px;
}
/* for general device we want to display the contact button, so set it to display:block; to be visible */
.srpContactButton {
  display: block;
}
.dropdown-menu {
  max-height: 200px;
  overflow: scroll;
}

/* on smaller width mobile phones (iPhone 4 and 5) we cannot fit a lot of text or the contact button */
@media(max-width: 320px) {
  /* on all devices split the width of filter sort buttons equally */
  .filterSortButtonWidthRS {
    width: 40%;
  }
  .filterSortButtonWidthPrice {
    width: 30%;
  }
  .filterSortButtonWidthSq {
    width: 30%;
  }
  /* limit RS description to 1 line only */
  .lineClamp {
    -webkit-line-clamp: 1;
  }
  /* cut image size down to 80px */
  .srpTilePanelImageHeight {
    height: 80px;
  }
  /* For smaller mobile phones cut the tileCP Button area in half, not enough space vertically */
  .tileRetailScore {
    height: 45px;
  }
  /* take out the contact button */
  .srpContactButton {
    display: none;
  }

  .customerSlogan {
    font-size: 8vw;
  }

}


/* larger mobile devices, tablets */
@media(min-width: 768px) {

  /* for tablet devices split the map and listings 50/50 since there is enough space for both */
  .srpMapSection {
    height: 50%;
  }
  .srpListingsSection {
    height: 50%;
  }

  .customerSlogan {
    font-size: 8vw;
  }

  /* bigger width propertyTile supported, enough space */
  .propertyTileContainer {
    width: 500px;
    margin-left: 50px;
  }
  /* give the tile a larger set height, this is centered vertically by listingsDiv flex properties */
  .propertyTile {
    height: 365px;
    width: 100%;
    /* since tablets have more space there will be more room above and below the tile, add more margin so spacing does not look super off */
    margin-left: 15px;
  }
  /* can support a larger image */
  .srpTilePanelImageHeight {
    height: 195px;
  }
  /* For tablets add a minHeight, otherwise in case of no profile given the add retail score button does not take up much space and then the panel has */
  /*  a bunch of extra whitespace on the bottom under Contact button */
  .tileRetailScore {
    min-height: 95px;
  }
}
/* dekstop and larger screens */
@media(min-width:992px) {
  .homepageImage {
    margin-left: 0px;
  }
  .homepageBackground {
    background-position: 0px 0px;
  }

  /* On desktop we want the SRP auto complete to have a border around it */
  .bootstrap-typeahead-input-main {
    border: 1px solid #CCC;
    border-radius: 4px;
  }

  .customerSlogan {
    font-size: 25px;
  }

  /* desktop top bar is larger than mobile search action bar */
  .contentSRP {
    height: -webkit-calc(100% - 55px);
  }
  /* on desktop screens listings and the map are lined up side by side, both can be 100% height */
  /* uses Bootstrap Columns, update padding here to get rid of default gutter between columns */
  .srpMapSection {
    height: 100%;
    padding-left: 0;
  }
  .srpListingsSection {
    height: 100%;
    padding-right: 0;
  }
  /* smaller size for labels works fine on desktop */
  .filtersLabelSize {
    height: 10px;
  }
  /* desktop listings div is scrolling vertically with tiles in pairs side by side */
  .listingsDiv {
    /* set scroll direction to vertical */
    overflow-x: hidden;
    overflow: scroll;
    /* use flex-box to get the desktop tiles to align correctly */
    display: flex;
    /* flex-wrap:wrap; makes it so instead of moving out horizontally any content after the edge wraps down and gets placed under the current content */
    /*  this gives desktop the correct placement of tiles in pairs down vertically */
    flex-wrap: wrap;
    width: 100%;
    /* for spacing at bottom of last tile */
    padding-bottom: 10px;
    /* had issues doing this height correctly without the important flag, not sure why */
    /* height accounts for all the items above listingsDiv on desktop (app bar, filters, etc.) */
    height: -webkit-calc(100% - 190px) !important;
  }
  .propertyTileContainer {
    /* larger height supported on desktop */
    height: 240px;
    /* tiles on desktop are placed side-by-side in pairs, so width is 50% - amount needed for margins around tiles side edges */
    /* subtracted amount is not exactly margins of both sides, little extra to make sure there is room for 2 tiles in a row */
    width: -webkit-calc(50% - 25px);
    /* make sure tiles do not squish to fit width, this way they are the width we want and desktop settings will wrap them into a vertical list */
    flex-shrink: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /* without this positioning of tiles gets incorrect, on mobile containers are of fixed height and use flex to position in center vertically */
    /* need to make it so container does not use flex, so set display:block; */
    display: block;
  }
  /* desktop propertyTiles support larger height */
  .propertyTile {
    height: 220px;
    width: 100%;
    margin-left: 0;
  }
  /* For desktop add a minHeight, otherwise in case of no profile given the add retail score button does not take up much space and then the panel has */
  /*  a bunch of extra whitespace on the bottom under Contact button */
  .tileRetailScore {
    min-height: 85px;
  }
  /* larger than mobile but smaller than tablet images supported on desktop */
  .srpTilePanelImageHeight {
    height: 150px;
  }
}

/* animation to fadeUp from bottom of screen, used on SRP for listings section */
.fadeInUp-enter {
  transform: translateY(100%);
}
.fadeInUp-enter.fadeInUp-enter-active {
  transform: translateY(0%);
  transition: transform;
  transition-duration: 3s;
}
/* animation to fadeIn from left of screen, used on SRP for map section */
.fadeInLeft-enter {
  transform: translateX(100%);
}
.fadeInLeft-enter.fadeInLeft-enter-active {
  transform: translateX(0%);
  transition: transform;
  transition-duration: 3s;
}
/* animation used to fadeIn in place, used by app bar on top of SRP, mobile dimDiv */
.fadeIn-enter {
  opacity: 0.01;
}
.fadeIn-enter.fadeIn-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}
.fadeIn-leave {
  opacity: 0.9;
}
.fadeIn-leave.fadeIn-leave-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}
/* animation to bounceIn in place, used on CP form and homepage */
@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 1;
    transform: scale3d(.3, .3, .3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(.97, .97, .97);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.fadedBounceIn-enter {
  opacity: 0.01;
  -webkit-animation-name: bounceIn;
  -webkit-animation-duration: .8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  animation-name: bounceIn;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.fadedBounceIn-enter.fadedBounceIn-enter-active {
  opacity: 0.01;
}
.fadedBounceIn-leave {
  opacity: 0.9;
}
.fadedBounceIn-leave.fadedBounceIn-leave-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}
/* Animation for dimmed out div around mobile filters, CP, menu */
.dimFade-enter {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.dimFade-enter-active {
  background-color: rgba(0,0,0,0.5);
  transition: 0.5s ease-in all;
}
.dimFade-leave {
  background-color: rgba(0,0,0,0.5);
}
.dimFade-leave-active {
  background-color: rgba(0,0,0,0.0);
  transition: 0.5s ease-in all;
}

.detailsFade-enter {
  opacity: 0.01;
  -webkit-animation-name: bounceIn;
  -webkit-animation-duration: .8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  animation-name: bounceIn;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.detailsFade-enter.fadedBounceIn-enter-active {
  opacity: 0.01;
}
.detailsFade-leave {
  opacity: 0.9;
}
.detailsFade-leave.fadedBounceIn-leave-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}
/* UI REFACTOR CSS END */

.productField::-webkit-input-placeholder {
    color: white;
    font-size: 5vw;
}
FF 4-18 
.productField:-moz-placeholder {
    color: white;
    font-size: 5vw;
}
FF 19+ 
.productField::-moz-placeholder {
    color: white;
    font-size: 5vw;
}
IE 10+ 
.productField:-ms-input-placeholder {
    color: white;
    font-size: 5vw;
}

.bottomCustomerFormDiv {
  width: 100%;
  flex-grow: 1; 
  padding-left: 20px; 
  padding-right: 20px;
}

/* HERE HERE HERE */

.businessDetails-enter {
  left: 100%;
}

.businessDetails-enter-active {
  left: 0%;
  transition: 0.5s ease-in all;
}

.businessDetails-leave {
  left: 0%;
}

.businessDetails-leave-active {
  left: 100%;
  transition: 0.5s ease-in all;
}

.contactFade-enter {
  top: 100%;
}

.contactFade-enter-active {
  top: -webkit-calc(100% - 300px);
  transition: 0.5s ease-in all;
}

.contactFade-leave {
  top: -webkit-calc(100% - 300px);
}

.contactFade-leave-active {
  top: 100%;
  transition: 0.5s ease-in all;
}

.filterFade-enter {
  top: 100%;
}

.filterFade-enter-active {
  top: -webkit-calc(100% - 350px);
  transition: 0.5s ease-in all;
}

.filterFade-leave {
  top: -webkit-calc(100% - 350px);
}

.filterFade-leave-active {
  top: 100%;
  transition: 0.5s ease-in all;
}

.srpDesktopHeight {
  height: 100%;
  padding: 0px;
}

.badgeShine {
  background: -webkit-linear-gradient(left,  #D4AF37 0%,#D4AF37 33%,#D4AF37 66%,#D4AF37 100%);
}

.dimDiv {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0px;
  z-index: 2;
  right: 0px;
}

.PDPDimDiv {
  min-height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  bottom: 0px;
  z-index: 2;
  right: 0px;
}




.desktopListings {
  height: -webkit-calc(100% - 50px);
  overflow: scroll;
}

.desktopMap {
  height: -webkit-calc(100% - 50px);
  padding: 0px;
}

.SRPPropertyTile {
  height: 150px;
  width: -webkit-calc(100% - 40px);
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin-top:10px;
  margin-left: 20px;
}

.horizontalPDPTiles {
    flex: none;
    -webkit-flex: none;
    height: 150px;
    margin: 8px;
    padding: 10px 31px;
    background: #fff;
    overflow: auto;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.smallGoogleMap {
  height: -webkit-calc(100% - 250px);
  position: relative;
}

.propertyImageSize {
  width: 100% !important;
  height: 250px !important;
  margin-top: 5px;
  object-fit: contain;
}

.propertyImageSizeTablet {
  width: 100% !important;
  height: 300px !important;
  margin-top: 5px;
  object-fit: contain;
}


.propertyImageSizeSmall {
  width: 120px !important;
  height: 125px !important;
  object-fit: contain;
}

/**/

.tab-content {
  padding: 10px 20px;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #dde6e9; }
  .nav-pills + .tab-content {
    border: 0;
    padding: 0; }

.btn, .ColVis .ColVis_Button {
  border-radius: 3px;
  font-size: 13px;
  border-color: transparent;
  -webkit-appearance: none;
  outline: none !important;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s; }
  .btn.btn-link, .ColVis .btn-link.ColVis_Button {
    box-shadow: none;
    border: 0; }
  .btn.btn-default, .ColVis .ColVis_Button {
    border-color: #eaeaea; }
  .input-group .btn, .input-group .ColVis .ColVis_Button, .ColVis .input-group .ColVis_Button {
    font-size: 14px;
    border-color: #dde6e9; }
  .input-group .input-sm + .input-group-btn .btn, .input-group .input-sm + .input-group-btn .ColVis .ColVis_Button, .ColVis .input-group .input-sm + .input-group-btn .ColVis_Button {
    font-size: 13px; }

.form-control, body .bootstrap-tagsinput {
  box-shadow: 0 0 0 #000 !important; }

.input-sm,
select.input-sm {
  height: 31px; }

fieldset {
  padding-bottom: 20px;
  border-bottom: 1px dashed #eee;
  margin-bottom: 20px; }
  fieldset.last-child, fieldset:last-child {
    border-bottom: 0; }
  fieldset .form-group {
    margin-bottom: 0; }

@media only screen and (max-width: 767px) {
  input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
    -webkit-appearance: none; } }

.table > thead > tr > th {
  border-bottom-width: 1px; }

.table > tbody + tbody {
  border-bottom-width: 1px; }

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 1px; }

.progress {
  -webkit-box-shadow: 0 0 0 #000;
  box-shadow: 0 0 0 #000;
  border-radius: 3px;
  border: 1px solid #f1f1f1;
  background-color: #fff; }
  .progress .progress-bar {
    -webkit-box-shadow: 0 0 0 #000;
    box-shadow: 0 0 0 #000; }

.popover {
  box-shadow: 0 0 0 #000;
  border-color: #eee;
  border-bottom: 2px solid #e4eaec;
  border-radius: 3px; }
  .popover .popover-title {
    border: 0; }

.nav.nav-pills .active > a {
  background-color: #5d9cec; }

.dropdown-menu {
  border-radius: 3px; }

.dropdown-header {
  color: #a1a2a3; }

.navbar-top .navbar-nav > .active > a {
  color: #999; }
  .navbar-top .navbar-nav > .active > a:hover, .navbar-top .navbar-nav > .active > a:focus {
    color: #d1d2d3; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #666; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #222; }

.carousel .carousel-indicators {
  bottom: 0; }

.carousel .carousel-control.left, .carousel .carousel-control.right {
  background-image: none; }

.carousel .carousel-control em {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px; }

.modal-backdrop {
  position: fixed;
  bottom: 0; }

.topnavbar,
.navbar,
.navbar .dropdown-menu {
  filter: none !important; }

.glyphicon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .glyphicon.glyphicon-chevron-right:before {
    content: ""; }
  .glyphicon.glyphicon-chevron-left:before {
    content: ""; }
  .glyphicon.glyphicon-chevron-up:before {
    content: ""; }
  .glyphicon.glyphicon-chevron-down:before {
    content: ""; }
  .glyphicon.glyphicon-folder-open:before {
    content: ""; }


/*
------------------------------------INPUT GROUP CSSS------
*/
.InputRange-slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #FFFFFF;
  border: 1px solid #828282;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 2rem;
  margin-left: -1.0rem;
  margin-top: -1.3rem;
  outline: none;
  position: absolute;
  top: 50%;
  transition: -webkit-transform 0.3s ease-out, box-shadow 0.3s ease-out;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 2rem; 
}
.InputRange-slider:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1); 
}
.InputRange-slider:focus {
  box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); 
}
.InputRange.is-disabled .InputRange-slider {
  background: #cccccc;
  border: 1px solid #cccccc;
  box-shadow: none;
  -webkit-transform: none;
          transform: none; 
}

.InputRange-sliderContainer {
  transition: left 0.3s ease-out; 
}

.InputRange-label {
  color: #565A5C;
  font-size: 0rem; 
}

.InputRange-label--min,
.InputRange-label--max {
  bottom: -2.8rem;
  position: absolute; 
  display: none;
}

.InputRange-label--min {
  left: 15px; 
}

.InputRange-label--max {
  right: 15px; 
}

.InputRange-label--value {
  position: absolute;
  top: 0.6rem; 
  right: -3.0rem;
}

.InputRange-labelContainer {
  left: -50%;
  position: relative; 
}
.InputRange-label--max .InputRange-labelContainer {
  left: 50%; 
}

.InputRange-track {
  background: #eeeeee;
  border-radius: 0.3rem;
  display: block;
  height: 0.3rem;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out; 
}
.InputRange.is-disabled .InputRange-track {
  background: #eeeeee; 
}

.InputRange-track--container {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%; }

.InputRange-track--active {
  background: #49A3DC; 
}

.InputRange {
  cursor: pointer;
  height: 1rem;
  position: relative;
  width: 100%; 
}
/*
---------- END OF INPUT GROUP CSS
*/

/*HOMPAGE*/
html, body {
    height: 100%;
}

.fullHeight {
  height: 100%;
}

.fullWidth {
  width: 100%;
}

.noPaddingOrMargin {
  padding: 0px;
  margin: 0px;
}

.scrollVertical {
  overflow: auto;
}

/* Homepage Container */
.container-div {
  width: 100%;
  height: 100%;
  position: absolute;
}

.homepageImageContainer {
  z-index: 0;
  position: absolute;
  margin-top: 0px;
  width: 100%;
}

.FooterLogo {
  height: 80px;
}

.homepageLargeImage {
  margin-top: -100px;
}

.homepageMediumImage {
  margin-top: -50px;
}

.homepageSmallImage {
  margin-top: 0px;
}

.homepageXSmallImage {
  margin-top: 0px;
}



.homepageTopBarContainer {
  margin: 5px 5px 0px 5px;
}

.homepageTopBarImage {
  height: 60px;
}

.homepageFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 427px;
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.productDescriptionSpan {
  color: #FFFFFF; 
  margin-top: 10px;
  font-size: 18px;
  font-weight: 550;
}

.productDescriptionSpanSm {
  color: #FFFFFF; 
  font-size: 14px;
  font-weight: 550;
}

.descriptionDivLg {
  margin-top: 150px;
}

.descriptionDivSm {
  margin-top: 150px;
}

.homepageMottoText {
  color: #FFFFFF;
  font-size: 68px;
  font-weight: 600;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}

.homepageMottoTextSm {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 600;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}

.homepageMidSectionContainer {
  width: 100%;
  margin-top: 600px;
  position: absolute;
  z-index: 0;
  background-color: #FFFFFF;
  padding-top: 10px;
}

.homepageMidSectionSpacer {
  height: 40px;
}

.homepageMidSectionPadding {
  padding-left: 40px;
  padding-right: 40px;
}

.homepageLocationSpacerSm {
  height: 15px;
}

.homepageLocationTile {
  width: 100%;
  height: 250px;
}

.homepageLocationTileLg {
  width: 100%;
  height: 300px;
}

.homepageLocationTileMd {
  width: 100%;
  height: 250px;
}

.homepageLocationTileSm {
  width: 100%;
  height: 250px;
}

.homepageInfoBoxes {
  width: 100%;
}

.homepageInfoBoxText {
  margin: 20px 20px 20px 20px;
  text-align: justify;
}

.homepageFooter {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(44, 62, 80,0.8);
}

.homepageFooterEmailLink {
  font-weight: 600;
  margin-top: 10px;
  color: #FFFFFF;
}

/* Homepage Location Tiles */
.homepageTile-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.homepageTile {
  height: 100%;
  width: 100%;
  background-color: rgba(44, 62, 80,0.5);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.homepageTile:hover {
  height: 100%;
  width: 100%;
  background-color: rgba(44, 62, 80,0.05);
  position: absolute;
}

.homepageTileText {
  width: 100%; 
  text-align: center;
  font-size:26px; 
  color: #FFFFFF;
}

.homepageTileImage {
  width: 100%;
  height: 100%;
}

.homepageSearchBar {
  height: 100%;
  width: 100%;
  float: left;
  color: black;
}

.typeahead_css {
  background-color: white;
  border: none; 
}
/*END OF HOMEPAGE*/


/* ========================================================================
     Component: typo
 ========================================================================== */
body {
  font-family: "Source Sans Pro", sans-serif;
  color: #656565; }

h1, h2, h3, h4 {
  font-weight: bold; }

/* ========================================================================
     Component: layout
 ========================================================================== */
html {
  /* $replace rtl */
  direction: ltr;
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

html, body, #app {
  height: 100%;
  margin: 0px;
  padding: 0px; }



